{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="{% static "images/favicon.png" type="image/png"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Tech Now</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navigation">
                <a href="https://www.tiktok.com/@glleeb8/video/6990765453693996293?q=nigerss&t=1714915074906"><img src="{% static "images/pc1.png" %}" class="img-logo"></a>
                <div class="menu-container">
                    <input type="checkbox" id="menu-toggle" class="menu-toggle">
                    <label for="menu-toggle" class="menu-button">Фильтры</label>
                    <div class="menu-content">
                        {% if slug_url and request.GET.q %}
                        <form action="{% url 'catalog:index' slug_url|default:'' %}"  method="get" class="menu-form">
                        {% else %}
                        <form action=""  method="get" class="menu-form">
                        {% endif %}
                            <div class="menu-item">
                                <input type="checkbox" id="on-sale" class="menu-checkbox" name="on_sale" value="on" {% if request.GET.on_sale %}checked{% endif %}>
                                {% if request.GET.on_sale %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}
                                <label for="on-sale" class="menu-label">Товары по акции</label>
                            </div>
                            <p class="menu-title">Сортировать:</p>
                            <div class="menu-item">
                                <input type="radio" id="sort-default" class="menu-radio" name="order_by" value="default" {% if not request.GET.order_by or request.GET.order_by == "default" %}checked{% endif %}>
                                <label for="sort-default" class="menu-label">По умолчанию</label>
                            </div>
                            <div class="menu-item">
                                <input type="radio" id="sort-asc" class="menu-radio" name="order_by" value="price" {% if request.GET.order_by == "price" %}checked{% endif %}>
                                <label for="sort-asc" class="menu-label">От дешевых к дорогим</label>
                            </div>
                            <div class="menu-item">
                                <input type="radio" id="sort-desc" class="menu-radio" name="order_by" value="-price" {% if request.GET.order_by == "-price" %}checked{% endif %}>
                                <label for="sort-desc" class="menu-label">От дорогих к дешевым</label>
                            </div>
                            <button type="submit" class="menu-submit">Применить</button>
                        </form>
                    </div>
                </div>
                <a class="active" href="{% url "zydex:index" %}">Главное</a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">Категории</a>
                    <div class="dropdown-content">
                        {% tag_categories as categories %}
                        {% for category in categories %}
                            <a href="{% url 'catalog:index' category.slug %}" class="dropdown-item">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'zydex:about' %}">Про нас</a>
                <a href="{% url 'admin:index' %}">Админ панель</a>
                <a href="{% url 'goods:cart' %}"><img src="{% static "images/basket.png" %}" alt="" class="img-logo-2"></a>
                <form action="{% url 'catalog:search' %}" method="get" class="search-form" role="search">
                    <input type="text" name="q" placeholder="Search" class="search-input">
                    <button type="submit" class="search-button">Поиск</button>
                </form>
                <!--<a href="" class="login">Воити</a>
                <a href="" class="register">Регистрация</a>-->
            </div>
            {% block slide %}
            {% endblock %}
        {% block content %}
        {% endblock %}
        
        <footer class="footer">
                <ul class="pagination">
                    <li class="{% if not goods or not goods.has_previous %}disabled{% endif %}">
                        <a id="prev" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}#{% endif %}">Previous</a>
                    </li>
                    {% for page in goods.paginator.page_range %}
                        <li class="{% if goods.number == page %}active{% endif %}">
                            <a href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    <li class="{% if not goods.has_next %}disabled{% endif %}">
                        <a id="next" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}#{% endif %}">Next</a>
                    </li>
                </ul>
            <ul class="social">
                <li><a href="#"><img src="{% static "images/whatsapp.png"%}" name="{% static "images/facebook.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/youtube.png"%}" name="{% static "images/youtube.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/instagram.png"%}" name="{% static "images/instagram.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/facebook.png"%}" name="{% static "images/whatsapp.png"%}"></a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Главное</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Сервисы</a></li>
                <li><a href="#">Команда</a></li>
                <li><a href="#">Контакты</a></li>
             </ul>
                <form class="footer-feedback" action="" method="get">
                            <label class="label-name" >
                                Ваше имя:
                                <input class="footer-input" type="text" name="name" placeholder="Имя Фамилия">
                            </label>
                            <label class="label-name">
                                Электронная почта:
                                <input class="footer-input" type="email" name="email" placeholder="example@email.com">
                            </label>
                            <label class="label-name">
                                Отзыв:
                                <textarea class="footer-textarea" name="comment" placeholder="Что вам понравилось?"></textarea>
                            </label>
                            <button class="footer-button" type="submit">
                                Отправить
                            </button>
                        </form>
                <p style="font-size: 23px;">©2024 Онлайн магазин | Все права защищены <br> Наш адрес: Женис 68а</p>
        </footer>
    </div>
    <script>
        let cu = 0;
        const slides = document.querySelectorAll('.slide')
        const s = 3000;

        function c(){
            slides[cu].style.opacity = 0;
            cu = (cu + 1) % slides.length;
            slides[cu].style.opacity = 1;
        }
        setInterval(c, s)

        function toggleFilter() {
            const filterForm = document.querySelector('.filter-form');
            filterForm.classList.toggle('open');
        }
    </script>
</body>
</html>