{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="{% static "images/favicon.svg" type="image/png"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>Tech Now</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navigation">
                <a href="https://www.tiktok.com/@glleeb8/video/6990765453693996293?q=nigerss&t=1714915074906"><img src="{% static "images/pc1.png"%}" class="img-logo"></a>
                <a class="active" href="#">Главное</a>
                <a href="#">Примущество</a>
                <a href="#">Акции</a>
                <a href="#">Вопросы и <br> ответы</a>
                <a href="#">Наши партнеры</a>
                <a href=""><img src="{% static "images/basket.png"%}" alt="" class="img-logo-2"></a>
            </div>
            <div class="head-context-slider">
                <img src="{% static "images/4060.png"%}" alt="" class="slide">
                <img src="{% static "images/3060.png"%}" alt="" class="slide">
                <img src="{% static "images/6750.png"%}" alt="" class="slide">
                <img src="{% static "images/570.png"%}" alt="" class="slide">
                <img src="{% static "images/1070.png"%}" alt="" class="slide">
            </div>
        </div>
        <div class="main-section">
            <div class="h1-top">ТОП НАУҚАН!</div>
            <div class="section-main-mid-1">
                <section class="section-card-1">
                    <h1 class="h1-title" >GTX 1080 TI</h1><img class="image-begin-1" src="{% static "images/1080.png"%}" alt=""><p class="p" >
                        Видеокарта Gigabyte Nvidia <br>
                        GeForce GTX 1080 Ti 11Gb Gaming <br>
                        OC(DVI+HDMI+3*DP) <br>
                        (GV-N108TGAMING OC-11GD)<br></p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>199500</s> тг<b><sup>172300 тг</sup></b></p>
                    <p class="p1">В наличии<br>5 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>    
                </section>
                <section class="section-card-2">
                    <h1 class="h1-title" >RTX 4090</h1><img class="image-begin-1" src="{% static "images/4090.png"%}" alt=""><p class="p">
                        Видеокарта GIGABYTE GeForce <br>
                        RTX 4090 GAMING OC <br>
                        [GV-N4090GAMING OC-24GD] <br>
                        [PCI-E 4.0 24 ГБ GDDR6X] <br></p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>1244000</s> тг<b><sup>1212300 тг</sup></b></p>
                    
                    <p class="p1">В наличии<br>15 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
                <section class="section-card-3">
                    <h1 class="h1-title" >RTX 4060</h1><img class="image-begin-1" src="{% static "images/4060.png"%}" alt=""><p class="p">
                        Видеокарта MSI GeForce RTX 4060<br>
                        VENTUS 2X BLACK OC GeForce<br>
                        RTX 4060 VENTUS 2X<br>
                        [PCI-E 4.0 24 ГБ GDDR6X] <br></p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>200654</s> тг<b><sup>189900 тг</sup></b></p>
                    <p class="p1">В наличии<br>55 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
                <section class="section-card-4">
                    <h1 class="h1-title" >RTX 3060</h1><img class="image-begin-1" src="{% static "images/3060.png"%}" alt=""><p class="p">
                        Видеокарта GIGABYTE GeForce <br>
                        RTX 3060 GAMING OC [GV-N3060GAMING OC-12GD]<br>
                        PCI-E 4.0 12 ГБ GDDR6<br>
                        </p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена:<s>179800</s> тг<b><sup>162300 тг</sup></b></p>
                    <p class="p1">В наличии <br>22 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
            </div>
            <div class="buy_card_section">
                <section class="section-buy-1"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-2"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-3"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-4"><a href="#">КУПИТЬ</a></section>
            </div>
        </div>
        <div class="main-section2">
            <div class="section-main-mid12">
                <section class="section-card-1">
                    <h1 class="h1-title">RX 7900XTX</h1><img class="image-begin-1" src="{% static "images/7900xtx.png"%}" alt=""><p class="p">
                        Видеокарта ASRock AMD Radeon <br>
                        RX 7900 XTX Taichi OC <br>
                        [RX7900XTX TC 24GO] <br>
                        [PCI-E 4.0 24 ГБ GDDR6, 384 бит</p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>846000</s> тг<b><sup>822300 тг</sup></b></p>
                    <p class="p1">В наличии <br>22 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
                <section class="section-card-2">
                    <h1 class="h1-title" >RX 5600 XT</h1><img class="image-begin-1" src="{% static "images/5600.png"%}" alt=""><p class="p">
                        Видеокарта MSI <br>
                        RX 5600 XT GAMING MX <br>
                        6GB 192bit/G6 (HDMI+3DP) <br>
                        (RX 5600 XT GAMING MX)</p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>115000</s> тг<b><sup>102300 тг</sup></b></p>
                    <p class="p1">В наличии <br>22 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
                <section class="section-card-3">
                    <h1 class="h1-title" >RX 6750 XT</h1><img class="image-begin-1" src="{% static "images/6750.png"%}" alt=""><p class="p">
                        Видеокарта MSI AMD Radeon <br>
                        RX 6750 XT GAMING X TRIO <br>
                        [RX 6750 XT GAMING <br>
                        X TRIO 12G]</p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>160000</s> тг<b><sup>142300 тг</sup></b></p>
                    <p class="p1">В наличии <br>22 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>    
                </section>
                <section class="section-card-4">
                    <h1 class="h1-title" >RX 6700</h1><img class="image-begin-1" src="{% static "images/6700.png"%}" alt=""><p class="p">
                        Видеокарта GIGABYTE <br>
                        AMD Radeon RX 6700 XT <br>
                        [GV-R67XTGAMING OC-12GD]<br>
                        GDDR6, 192 бит, 2 x DisplayPort, <br>
                        </p>
                    <p class="p1" style="color: black; font-weight: bold;">Цена: <s>198000</s>тг<b><sup>122300 тг</sup></b></p>
                    <p class="p1">В наличии <br>10 штук</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                </section>
            </div>
            <div class="buy_card_section">
                <section class="section-buy-1"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-2"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-3"><a href="#">КУПИТЬ</a></section>
                <section class="section-buy-4"><a href="#">КУПИТЬ</a></section>
            </div>
        </div>
        <div class="main-middle-section">
            <div class="middle-section">
                <div class="middle-section-h1" >Почему вы должны выбрать НАС?</div>
                <img  class="middle-logo" src="{% static "images/middle-logo" %} " alt="">
            </div>
        </div>
        <div class="middle-section-footer2">
            <div class="middle-section-header2">
                <div class="section-main-mid122">
                    <section class="section-middle-card-1">
                        <h3 class="h3-title">Надежность техники</h3><img src="{% static "images/settings.png"%}">
                        <div class="con">
                          <img src="{% static "images/надежность.jpg" %} " alt="Avatar" style="width:290px"; height="200px">
                        </div>
                        <div class="footer-word">Надежность товара, соответсвующим всем требованиям <br> обращатся в сервисный центр!</div>
                    </section>
                    <section class="section-middle-card-2">
                        <h3 class="h3-title">Гарантиные возвраты</h3><img src="{% static "images/g.png"%}">
                        <div class="con">
                            <img src="{% static "images/возврат.png"%}" alt="Avatar" style="width:290px"; height="200px">
                        </div>
                        <div class="footer-word">Гарантия на все товары 1 год, возврат при наличии чека и хорошего состояния товара</div>
                    </section>
                    <section class="section-middle-card-3">
                        <h3 class="h3-title" >Обратная связь</h3><img src="{% static "images/edit.png"%}">
                       <div class="con">
                            <img src="{% static "images/оператор.png"%}" alt="Avatar" style="width:290px"; height="200px">
                        </div>
                        <div class="footer-word">Обратная свзять в течении 24/7, напишите если есть вопросы<br> обращатся в сервисный центр!</div>
                    </section>
                    <section class="section-middle-card-4">
                        <h3 class="h3-title">Сертификат</h3><img src="{% static "images/support.png"%}">
                        <div class="con">
                            <img src="{% static "images/сертификат.jpg" %}" alt="Avatar" style="width:290px"; height="200px">
                        </div>
                        <div class="footer-word">Международный сертификат, подлежащего товара от всемирного Скибиди тойлет</div>
                    </section>
                </div>
            </div>
        </div>
    
    <!--<footer class="footer">
        <div class="footer-seperator">
            <div class="content-lg container">
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="footer-list">
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Home</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">About</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Products</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Pricing</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Clients</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Careers</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Contact</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Terms</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="footer-list-2">
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Twitter</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Facebook</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">Instagram</a></li>
                            <li class="footer-list-item"><a class="footer-list-link" href="#">YouTube</a></li>
                        </ul>
                    </div>
                    <form class="footer-feedback" action="" method="get">
                        <label class="label-name" >
                            Ваше имя:
                            <input class="footer-input" type="text" name="name" placeholder="Иван Иванов">
                        </label>
                           
                        <label class="label-name">
                            Электронная почта:
                            <input class="footer-input" type="email" name="email" placeholder="example@email.com">
                        </label>
                        <label class="label-name">
                            Отзыв:
                            <textarea class="footer-textarea" name="comment" placeholder="Что вам понравилось?"></textarea>
                        </label>
                        <button class="footer-button" type="submit">
                            Отправить
                        </button>
                    </form>
                </div>
                
            </div>
        </div>
        <div class="content container">
            <div class="row">
            <div class="footer-botom">
                <p class="footer-p"><a class="footer-name" href="#">КМИБО</a> ЖЕНИС 68а <a class="footer-link" href="#">KeenThemes.com</a></p>
            </div>
            </div>
        </div>
    </footer>-->
        <footer class="footer">
            <ul class="social">
                <li><a href="#"><img src="{% static "images/pinterest.png"%}" name="{% static "images/whatsapp.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/whatsapp.png"%}" name="{% static "images/facebook.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/youtube.png"%}" name="{% static "images/youtube.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/instagram.png"%}" name="{% static "images/instagram.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/facebook.png"%}" name="{% static "images/whatsapp.png"%}"></a></li>
                <li><a href="#"><img src="{% static "images/network.png"%}" name="{% static "images/whatsapp.png"%}"></a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Главное</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Сервисы</a></li>
                <li><a href="#">Команда</a></li>
                <li><a href="#">Контакты</a></li>
             </ul>
                <form class="footer-feedback" action="" method="get">
                            <label class="label-name" >
                                Ваше имя:
                                <input class="footer-input" type="text" name="name" placeholder="Иван Иванов">
                            </label>
                                   
                            <label class="label-name">
                                Электронная почта:
                                <input class="footer-input" type="email" name="email" placeholder="example@email.com">
                            </label>
                            <label class="label-name">
                                Отзыв:
                                <textarea class="footer-textarea" name="comment" placeholder="Что вам понравилось?"></textarea>
                            </label>
                            <button class="footer-button" type="submit">
                                Отправить
                            </button>
                        </form>
                <p style="font-size: 23px;">©2024 Онлайн магазин | Все права защищены <br> Наш адрес: Женис 68а</p>
        </footer>
    </div>
    <script>
        let cu = 0;
        const slides = document.querySelectorAll('.slide')
        const s = 3000;

        function c(){
            slides[cu].style.opacity = 0;
            cu = (cu + 1) % slides.length;
            slides[cu].style.opacity = 1;
        }
        setInterval(c, s)
    </script>
</body>
</html>