body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center; /* Выравниваем элементы по вертикали */
    padding: 10px 0;
}

.navbar a, .dropdown-toggle {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    transition: color 0.3s;
}

.navbar a:hover, .dropdown-toggle:hover {
    color: #d4d4d4;
}

/* Стиль для выпадающего меню */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #922626;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    top: 100%; /* Выпадающий список находится ниже кнопки */
    left: 0;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #444444;
    border-radius: 6px;
}

/* Показываем выпадающий список при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}


.navigation {
    text-align: center;
}

.navigation {
    overflow: hidden;
    background: linear-gradient(90deg,#0b0d0f,#1a1d21,#292e36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 28px;
    text-decoration: none;
    font-size: 28px;
    
    box-sizing: border-box;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
  }
  
.navigation a:hover {
    opacity: 0.7s;
    color: rgb(115, 199, 5);
  }

.navigation a:active {
    opacity: 0.6s;
}
  

.img-logo {
    height: 75px;
    width: 100px;
    float: left;
    margin-right: 150px;
    margin-left: 50px;
    padding: 7px;
}

.img-logo-2 {
    float: right;
    padding-left: 200px;
}

.head-context-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
    
    background: -webkit-linear-gradient(90deg,#001eff,#ff000d); /* Chrome 10-25, Safari 5.1-6 */ 
    background: linear-gradient(90deg,#001eff,#ff000d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}


.slide:first-child {
    opacity: 1;
}

section {
    display: inline-block;
    width: 23%;
    text-align: center;
  }



.main-section {
    background-color: #000000;
}

.main-section2 {
    background-color: #000000;
}

.image-begin-1 {
    height: 180px;
    width: 250px;
}

.h1-top {
    color: #fff100;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(90deg,#fff100,#e60012); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg,#fff100,#e60012); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.h1-top2 {
    margin-left: 30px;
}

.h1-title {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 30px;
}

.section-card {
    border-radius: 6px;
    margin-left: 20px;
    background: -webkit-linear-gradient(90deg,#f3f0d3,#e9e9d8,#f7f1b1);
}

.section-main-mid-1 {
    padding-top: 20px;
}

.section-main-mid12 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.p1 {
    color: orange;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}



.heart-icon-1 {
    width: 35px;
    height: 35px;
    
}

.heart-icon-1:hover {
    background-color: red;
}

.heart-icon-2 {
    width: 35px;
    height: 35px;  
    
}

.p {
    font-size: 22px;
    font-weight: bold;
}


.footer-feedback div {
    margin-top: 1rem;
}

.list-unstyled {
   text-decoration: none;
}
 
.label-name, .footer-input, .footer-textarea, .footer-button, select{
    font-size: 1.3rem;
    line-height: 1.2
}
 
.footer-feedback {
    width: 30em;
    max-width: 90%;
    margin: 0 auto;
    padding-left: 1100px;
}
 
.label-name {
    margin-bottom: 0.4rem;
    display: block;
}
 
.footer-input, .footer-textarea {
    padding: 0.4rem;
    width: 100%;
}
 
.footer-button {
    margin-top: 2rem;
    background: rgb(16, 221, 33);
    color: #fff;
    border: none;
    padding: 0.6rem;
}

.footer-button:hover {
    color: #000000;
}
  
.footer{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.menu li{
    list-style: none;
}
.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.menu li a {
    font-size: 25px;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover {
    opacity: 1;
}

.con {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.con::after {
  content: "";
  clear: both;
  display: table;
}

.con img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}


@media (max-width: 600px) {}
.con {
    text-align: center;
}
.con img {
    margin: auto;
    float: none;
    display: block;
}