{% extends 'zydex/base.html' %}
{% load static %}



{% block css %} {% endblock %}

{% block content %}
<div class="main-section">
    <div class="h1-top">ТОП НАУҚАН!</div>
    {% for product in goods %}
        <div class="section-main-mid-1">
            <section class="section-card">
                <h1 class="h1-title">{{ product.name }}</h1>
                {% if product.image %}
                    <img class="image-begin-1" src="{{ product.image.url }}" alt="">
                {% endif %}
                <a href="{% url 'catalog:product' product.slug %}" style="color: black; text-decoration: none;"><p class="p">{{ product.description }}</p></a>
                {% if product.discount %}
                    <p class="p1" style="color: black; font-weight: bold;"><b><s>{{ product.price }}</s></b></p>
                    <p class="p1" style="color: red; font-weight: bold;"><b> Скидка: {{ product.discount }}%</b></p>
                    <p class="p1" style="color: black; font-weight: bold;"><b> Цена: {{ product.get_discount_price }}</b></p>
                {% else %}
                    <p class="p1" style="color: black; font-weight: bold;"><b> Цена: {{ product.price }}</b></p>
                {% endif %}

                <p class="p1">Количество: {{ product.quantity }}</p>
                <div class="icons-for-card">
                    <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                    <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                </div>
            </section>
        </div>
    {% endfor %} 
    </div>
</div> 
{% endblock %}