{% extends 'zydex/base.html' %}
{% load static %}



{% block css %} <link rel="stylesheet" href="{% static "css/categories.css" %}"> {% endblock %}

{% block content %}
<div class="main-section">
    <div class="h1-top">ТОП НАУҚАН!</div>
        <div class="section-main-mid-1">
            <section class="section-card">
                {% for product in products %}
                    <h1 class="h1-title" >{{ product.name }}</h1>
                    <img class="image-begin-1" src="{% static "images/tamaev.jpg"%}" alt="">
                    <p class="p" >
                        {{ product.description }}</p>
                    <p class="p1" style="color: black; font-weight: bold;"><b> Цена: {{ product.price }}</b></p>
                    <p class="p1">Количество: {{ product.quantity }}</p>
                    <div class="icons-for-card">
                        <a href="#"><img class="heart-icon-1" src="{% static "images/icons8-heart-50.png"%}" alt=""></a>
                        <a href="#"><img class="heart-icon-2" src="{% static "images/icons8-basket-50.png"%}" alt=""></a>
                    </div>
                {% endfor %}    
            </section>
        </div>
    </div>
</div> 
{% endblock %}